<!DOCTYPE html>
<html>
  <head>
    <title>iDelivery</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class='container'>
      <form>
      <h3>โปรดเลือกบริการที่ต้องจัดส่ง</h3>
      <% var month = ['มกราคม','กุมภาพันธ์','มีนาคม','เมษายน',
                      'พฤษภาคม','มิถุนายน','กรกฎาคม','สิงหาคม',
                      'กันยายน', 'ตุลาคม','พฤศจิกายน','ธันวาคม']
      %>
      <% for (var i of service) { %>
        <div class='row'>
          <input type='checkbox' 
            name='service-<%= i.id %>'
            id='service-<%= i.id %>'>
          <label for='service-<%= i.id %>'>
            <%= i.name %> ( <%= i.price %> บาท )
          </label>
        </div>
        <div class='row'>
          <div class='col'>
            <select name='first-day' class='form-control'>
              <% for (var d = 1; d <= 31; d++) { %>
                <option><%= d %></option>
              <% } %>
            </select>
          </div>
          <div class='col'>
            <select name='first-month' class='form-control'>
              <% for (var m of month) { %>
                <option><%= m %></option>
              <% } %>
            </select>
          </div>
          <div class='col'>
            <select name='next' class='form-control'>
              <option value='0'>ส่งครั้งเดียว</option>
              <option value='7'>ส่งทุกสัปดาห์</option>
              <option value='14'>ส่งทุก 2 สัปดาห์</option>
              <option value='30'>ส่งทุกเดือน</option>
            </select>
          </div>
        </div>
        
      <% } %>
        <input name='name' 
          placeholder='ชื่อ' 
          class='form-control'>
        <input name='phone' 
          placeholder='หมายเลขโทรศัพท์'
          class='form-control'>
        <textarea name='address'
          placeholder='ที่อยู่สำหรับจัดส่งสินค้า'
          class='form-control'></textarea>
        <button class='btn btn-primary'>สมัครสมาชิก</button>
      </form>
      <style>
        form { max-width: 640px; }
        input,textarea { margin-bottom: 8px; }
      </style>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </body>
</html>
